war/wsdl/ElectronicShopService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://SOAPServer.serverCommunication.controller/" name="ElectronicShopService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://SOAPServer.serverCommunication.controller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://SOAPServer.serverCommunication.controller/" schemaLocation="ElectronicShopService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createOrUpdateWarrantyConditions">
    <part name="parameters" element="tns:createOrUpdateWarrantyConditions"/>
  </message>
  <message name="createOrUpdateWarrantyConditionsResponse">
    <part name="parameters" element="tns:createOrUpdateWarrantyConditionsResponse"/>
  </message>
  <message name="createOrUpdateVehicleModel">
    <part name="parameters" element="tns:createOrUpdateVehicleModel"/>
  </message>
  <message name="createOrUpdateVehicleModelResponse">
    <part name="parameters" element="tns:createOrUpdateVehicleModelResponse"/>
  </message>
  <message name="createOrUpdateVehicleModelPart">
    <part name="parameters" element="tns:createOrUpdateVehicleModelPart"/>
  </message>
  <message name="createOrUpdateVehicleModelPartResponse">
    <part name="parameters" element="tns:createOrUpdateVehicleModelPartResponse"/>
  </message>
  <message name="createOrUpdateVehicleModelService">
    <part name="parameters" element="tns:createOrUpdateVehicleModelService"/>
  </message>
  <message name="createOrUpdateVehicleModelServiceResponse">
    <part name="parameters" element="tns:createOrUpdateVehicleModelServiceResponse"/>
  </message>
  <message name="createOrUpdateSparePart">
    <part name="parameters" element="tns:createOrUpdateSparePart"/>
  </message>
  <message name="createOrUpdateSparePartResponse">
    <part name="parameters" element="tns:createOrUpdateSparePartResponse"/>
  </message>
  <message name="createOrUpdateService">
    <part name="parameters" element="tns:createOrUpdateService"/>
  </message>
  <message name="createOrUpdateServiceResponse">
    <part name="parameters" element="tns:createOrUpdateServiceResponse"/>
  </message>
  <message name="createOrUpdateSparePartGroup">
    <part name="parameters" element="tns:createOrUpdateSparePartGroup"/>
  </message>
  <message name="createOrUpdateSparePartGroupResponse">
    <part name="parameters" element="tns:createOrUpdateSparePartGroupResponse"/>
  </message>
  <message name="createOrUpdateVehicle">
    <part name="parameters" element="tns:createOrUpdateVehicle"/>
  </message>
  <message name="createOrUpdateVehicleResponse">
    <part name="parameters" element="tns:createOrUpdateVehicleResponse"/>
  </message>
  <message name="createOrUpdatePerson">
    <part name="parameters" element="tns:createOrUpdatePerson"/>
  </message>
  <message name="createOrUpdatePersonResponse">
    <part name="parameters" element="tns:createOrUpdatePersonResponse"/>
  </message>
  <message name="createOrUpdateCompany">
    <part name="parameters" element="tns:createOrUpdateCompany"/>
  </message>
  <message name="createOrUpdateCompanyResponse">
    <part name="parameters" element="tns:createOrUpdateCompanyResponse"/>
  </message>
  <portType name="ElectronicShopInterface">
    <operation name="createOrUpdateWarrantyConditions">
      <input message="tns:createOrUpdateWarrantyConditions"/>
      <output message="tns:createOrUpdateWarrantyConditionsResponse"/>
    </operation>
    <operation name="createOrUpdateVehicleModel">
      <input message="tns:createOrUpdateVehicleModel"/>
      <output message="tns:createOrUpdateVehicleModelResponse"/>
    </operation>
    <operation name="createOrUpdateVehicleModelPart">
      <input message="tns:createOrUpdateVehicleModelPart"/>
      <output message="tns:createOrUpdateVehicleModelPartResponse"/>
    </operation>
    <operation name="createOrUpdateVehicleModelService">
      <input message="tns:createOrUpdateVehicleModelService"/>
      <output message="tns:createOrUpdateVehicleModelServiceResponse"/>
    </operation>
    <operation name="createOrUpdateSparePart">
      <input message="tns:createOrUpdateSparePart"/>
      <output message="tns:createOrUpdateSparePartResponse"/>
    </operation>
    <operation name="createOrUpdateService">
      <input message="tns:createOrUpdateService"/>
      <output message="tns:createOrUpdateServiceResponse"/>
    </operation>
    <operation name="createOrUpdateSparePartGroup">
      <input message="tns:createOrUpdateSparePartGroup"/>
      <output message="tns:createOrUpdateSparePartGroupResponse"/>
    </operation>
    <operation name="createOrUpdateVehicle">
      <input message="tns:createOrUpdateVehicle"/>
      <output message="tns:createOrUpdateVehicleResponse"/>
    </operation>
    <operation name="createOrUpdatePerson">
      <input message="tns:createOrUpdatePerson"/>
      <output message="tns:createOrUpdatePersonResponse"/>
    </operation>
    <operation name="createOrUpdateCompany">
      <input message="tns:createOrUpdateCompany"/>
      <output message="tns:createOrUpdateCompanyResponse"/>
    </operation>
  </portType>
  <binding name="ElectronicShopPortBinding" type="tns:ElectronicShopInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createOrUpdateWarrantyConditions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOrUpdateVehicleModel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOrUpdateVehicleModelPart">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOrUpdateVehicleModelService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOrUpdateSparePart">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOrUpdateService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOrUpdateSparePartGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOrUpdateVehicle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOrUpdatePerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOrUpdateCompany">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ElectronicShopService">
    <port name="ElectronicShopPort" binding="tns:ElectronicShopPortBinding">
      <soap:address location="http://localhost:8888/soap/ElectronicShopService.soap"/>
    </port>
  </service>
</definitions>

